@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CInputDate @bind-Date="date"></CInputDate>
<TextReveal Text="Test" />

@code {
    DateTime date = DateTime.Now;
}