.page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(100vh * .10) calc(100vw * .10);
    background: linear-gradient(45deg, #F4E7FB, #F3DCDC, #F5BCBA, #E3AADD, #C8A8E9, #C3C7F3);
    background-size: 200%;
    animation: backgroundAnim 20s linear infinite;
}

.box-container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #F0F8FF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-container {
    width: 45%;
    height: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.form-container .title h1 {
    color: #E3AADD;
    font-size: 18px;
    font-weight: bolder;
}

.form-container .title label {
    font-size: 24px;
    color: black;
    font-weight: 600;
    font-family: Tahoma;
}

.form-container p {
    font-size: 14px;
}

.form-container ::deep form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #767F7D;
    padding-top: 15px;
}

.form-container ::deep form .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*=================================================================
        Input Custom Color
==================================================================*/
.form-container ::deep input {
    border-radius: 0;
    border-color: #767F7D;
}

.form-container ::deep input:hover {
    border-color: #E3AADD;
}

.form-container ::deep label,
.form-container ::deep input:focus ~ label {
    color: #767F7D;
}

.form-container ::deep input:hover ~ label,
.form-container ::deep input:hover:not(:focus) ~ label {
    color: #E3AADD;
}

.form-container ::deep .input-container {
    margin: 0;
    width: 100%;
}

.form-container ::deep input[type="checkbox"] {
    margin-left: 5px;
    accent-color: #E3AADD;
    cursor: pointer;
}

.form-container ::deep form .row input ~ label {
    font-size: 12px;
}

/*=================================================================
        Button Style Color
==================================================================*/
.btn {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #F0F8FF;
    background: linear-gradient(45deg, #F5BCBA, #E3AADD, #C8A8E9);
    background-size: 200%;
    border: none;
    cursor: pointer;
    animation: backgroundAnim 20s linear infinite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s cubic-bezier(.87, -1.38, 0.3, 1.54);
    filter: grayscale(20%);
}

.btn:hover {
    width: calc(100% + 10px);
    transform: translate(-5px, -5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    filter: grayscale(0);
}

.btn:active {
    animation: shake 500ms linear;
}

.form-container .link-container {
    display: flex;
    justify-content: center;
}

.form-container .link-container label {
    font-size: 14px;
}

.link-container label ::deep a {
    text-decoration: none;
    font-weight: bold;
    color: #E3AADD;
}

.link-container label ::deep a:hover {
    text-decoration: underline;
}

.banner {
    width: 55%;
    background: url(../imgs/Vivid.png) top center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s linear;
}

.banner:hover {
    width: 65%;
}


@keyframes backgroundAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0);
    }

    20%, 60% {
        transform: rotate(2deg);
    }

    40%, 80% {
        transform: rotate(-2deg);
    }
}
