@page "/signup"
@using ServiceBooking.DTO.UserDto

<div class="page-container">
    <div class="box-container">
        <section class="form-container">
            <div class="title">
                <h1>Sign Up</h1>
                <label>Join Us Today!</label>
            </div>

            <p>Create your account and let's get started!</p>
            <EditForm Model="model">
                <div class="row">
                    <CInputText @bind-Value="model.FirstName">First Name</CInputText>
                    <CInputText @bind-Value="model.LastName">Last Name</CInputText>
                </div>
                <CInputText @bind-Value="model.MiddleName">Middle Name</CInputText>
                <CInputText @bind-Value="@model.Email" Type="CInputText.InputType.email">Email</CInputText>
                <CInputText @bind-Value="@model.Password" Type="CInputText.InputType.password">Password</CInputText>
                <div class="row">
                    <InputCheckbox @bind-Value="subNewsLetter"></InputCheckbox>
                    <label>Yes, I want to receive FakeCompany news letter</label>
                </div>

                <div class="row">
                    <InputCheckbox @bind-Value="agreeToTermsAndCondition"></InputCheckbox>
                    <label>I agree to all <strong>Terms</strong> and <strong>Privacy Policy</strong></label>
                </div>

                <button class="btn" type="submit">Sign Up</button>
            </EditForm>

            <div class="link-container">
                <label>Already have an account? <NavLink href="/login">Login</NavLink></label>
            </div>
        </section>

        <section class="banner">

        </section>
    </div>
</div>

@code {
    UserInputDTO model = new();
    bool subNewsLetter = false;
    bool agreeToTermsAndCondition = false;
}
